.bg-banner{
    background: url('./../../../assets/img/banner.jpg');
    // background: #008FF9;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .white{
        background: rgba(#000,0.62)
    }
}