<ion-header>
  <ion-toolbar>
    <ion-title>
      <div class="d-flex align-items-center pointer">
        <ion-text>{{ a.t({ en: 'PhilGo Social Hub', ko: '필고 소셜 허브' }) }}</ion-text>
        <ion-badge class="border-radius-45px ml-2" (click)=" sortRoomsByNewMessage() " color="danger" *ngIf=" philgo.noOfNewMessageInMyRoom ">{{
          philgo.noOfNewMessageInMyRoom }}</ion-badge>
        <ion-icon class="ml-2" (click)=" showHomeContent = !showHomeContent; sortRoomsByNewMessage() " name="arrow-round-down"
          *ngIf=" philgo.noOfNewMessageInMyRoom "></ion-icon>
      </div>
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <app-chat-update-component [appVersion]=" a.version "></app-chat-update-component>

  <div class="main-news border-bottom" *ngIf="showHomeContent && frontPage">

    <div class="row no-gutters">
      <div class="col pr-md-2">
        <img class="w-100" src="{{ philgo.thumbnailUrl({ width: 360, height: 120, idx: frontPage.mainNews.photo.idx }) }}">
        <div class="p-1 mb-2 mb-md-0">
          <div class="main-news-title fs-lg truncate my-1">{{ frontPage.mainNews.subject }}</div>
          <p class="main-news-content m-0 fs-md text-muted">
            {{ frontPage.mainNews.content }}
          </p>
        </div>
      </div>
      <div class="col pl-md-2">

        <div class="community-posts" *ngIf="frontPage.communityPosts?.length">
          <div class="row no-gutters">
            <div class="col-3 fs-sm" *ngFor="let post of frontPage.communityPosts">
              <img class="w-100" src="{{ philgo.thumbnailUrl({ width: 100, height: 100, idx: post.no_of_first_image }) }}">
              <div class="p-1 truncate whitespace-md-prewrap" *ngIf=" post.subject ">{{ post.subject.slice(0,100) }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <app-chat-my-rooms-component class="d-block p-2" (error)=" onChatMyRoomsComponentError( $event ) "></app-chat-my-rooms-component>


</ion-content>

<ion-footer>

  <div class="menus row text-center text-normal fs-sm pointers">

    <div class="menu col" (click)=" showHomeContent = ! showHomeContent ">
      <ion-icon class="size-24px" name="chatbubbles"></ion-icon>
      <div class="text">단톡방</div>
    </div>

    <div class="menu col" routerLink="/forum/qna">
      <ion-icon class="size-24px" name="help-circle"></ion-icon>
      <div class="text">질문답변</div>
    </div>

    <div class="menu col d-none d-md-block" routerLink="/forum/freetalk">
      <ion-icon class="size-24px" name="quote"></ion-icon>
      <div class="text">자유토론</div>
    </div>
    <div class="menu col d-none d-md-block" routerLink="/forum/buyandsell">
      <ion-icon class="size-24px" name="cart"></ion-icon>
      <div class="text">회원장터</div>
    </div>
    <div class="menu col d-none d-md-block" routerLink="/job/housemaid">
      <ion-icon class="size-24px" name="contact"></ion-icon>
      <div class="text">하우스헬퍼</div>
    </div>


    <div class="menu col" routerLink="/hub">
      <svg class="pt-1 size-22px" version="1.0" xmlns="http://www.w3.org/2000/svg" width="101.000000pt" height="102.000000pt"
        viewBox="0 0 101.000000 102.000000" preserveAspectRatio="xMidYMid meet">
        <g transform="translate(0.000000,102.000000) scale(0.100000,-0.100000)" fill="#ac0000" stroke="none">
          <path d="M545 1001 c-96 -34 -188 -92 -313 -195 -151 -124 -232 -251 -232
               -364 0 -79 17 -118 76 -182 125 -133 434 -260 634 -260 96 0 139 11 188 47 80
               60 112 151 112 323 0 309 -96 568 -235 631 -53 24 -163 24 -230 0z" />
        </g>
      </svg>
      <div class="pt-3px text">{{ a.t({ en: 'Hub', ko: '허브' }) }}</div>
    </div>

    <div class="menu col" (click)=" a.toggleMenu.emit() ">
      <ion-icon class="size-24px" name="menu"></ion-icon>
      <div class="text">메뉴</div>
    </div>

  </div>

</ion-footer>