<ion-header>
  <ion-toolbar ion-activable>
    <ion-ripple-effect></ion-ripple-effect>
    <ion-title>
      <div class="d-flex align-items-center pointer">
        <img (click)=" showHomeContent = true " class="mr-3 h-24px" src="/assets/img/sonub-logo.png">
        <ion-text (click)=" showHomeContent = true ">{{ a.t({ en: 'PhilGo Social Hub', ko: '필고 소셜 허브' }) }}</ion-text>
        <ion-badge class="border-radius-45px ml-2" (click)=" showHomeContent = false; sortRoomsByNewMessage() " color="danger"
          *ngIf=" philgo.noOfNewMessageInMyRoom ">{{
          philgo.noOfNewMessageInMyRoom }}</ion-badge>
        <ion-icon class="ml-2" (click)=" showHomeContent = false; sortRoomsByNewMessage() " name="arrow-round-down"
          *ngIf=" philgo.noOfNewMessageInMyRoom "></ion-icon>
      </div>
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>


  <app-chat-update-component [appVersion]=" a.version "></app-chat-update-component>

  <div class="main-news p-3 border-bottom fs-md" *ngIf="showHomeContent && frontPage?.mainNews?.idx">
    <div class="row no-gutters">

      <div class="col-12 col-md-5 pr-2">
          <a class="d-block" ion-activable routerLink="/forum/{{ frontPage.mainNews.post_id }}/{{ frontPage.mainNews.idx }}">
            <ion-ripple-effect></ion-ripple-effect>
            <img class="w-100" src="{{ philgo.thumbnailUrl({ width: 360, height: 114  , idx: frontPage.mainNews.photo.idx }) }}">
            <div class="mb-2 mb-md-0">
              <div class="main-news-title truncate pt-1 darkblue">{{ frontPage.mainNews.subject }}</div>
              <div class="main-news-content pt-1">{{ frontPage.mainNews.content }}</div>
            </div>
          </a>
      </div>

      <div class="col-12 col-md-7">
        <div class="community-posts" *ngIf="frontPage.communityPosts?.length">
          <div class="row no-gutters">
            <a ion-activable class="col-3" *ngFor="let post of frontPage.communityPosts" href="{{ urlView(post) }}" (click)="onClickPhoto( $event, post )">
              <ion-ripple-effect></ion-ripple-effect>
              <img class="w-100" src="{{ philgo.thumbnailUrl({ width: 100, height: 100, idx: post.no_of_first_image }) }}">
              <div class="pt-1 truncate" *ngIf=" post.subject ">{{ post.subject }}</div>
              <div class="pt-1 truncate whitespace-md-prewrap text-muted" *ngIf=" post.content ">{{ post.content |
                slice: 0 : 65 }}</div>
            </a>
          </div>
        </div>
      </div>


    </div>
  </div>

  <app-chat-my-rooms-component class="d-block px-2 pt-1" (error)=" onChatMyRoomsComponentError( $event ) "></app-chat-my-rooms-component>

</ion-content>

<ion-footer>

  <div class="menus row text-center text-normal fs-sm pointers">

    <div ion-activable class="menu col" (click)=" showHomeContent = ! showHomeContent ">
      <ion-ripple-effect></ion-ripple-effect>
      <ion-icon class="size-24px" name="chatbubbles"></ion-icon>
      <div class="text">단톡방</div>
    </div>

    <div ion-activable class="menu col" routerLink="/forum/qna">
      <ion-ripple-effect></ion-ripple-effect>
      <ion-icon class="size-24px" name="help-circle"></ion-icon>
      <div class="text">질문답변</div>
    </div>

    <div ion-activable class="menu col d-none d-md-block" routerLink="/forum/freetalk">
      <ion-ripple-effect></ion-ripple-effect>
      <ion-icon class="size-24px" name="quote"></ion-icon>
      <div class="text">자유토론</div>
    </div>
    <div ion-activable class="menu col d-none d-md-block" routerLink="/forum/buyandsell">
      <ion-ripple-effect></ion-ripple-effect>
      <ion-icon class="size-24px" name="cart"></ion-icon>
      <div class="text">회원장터</div>
    </div>
    <div ion-activable class="menu col d-none d-md-block" routerLink="/job/housemaid">
      <ion-ripple-effect></ion-ripple-effect>
      <ion-icon class="size-24px" name="contact"></ion-icon>
      <div class="text">하우스헬퍼</div>
    </div>


    <div ion-activable class="menu col" routerLink="/hub">
      <ion-ripple-effect></ion-ripple-effect>
      <svg class="pt-1 size-22px" version="1.0" xmlns="http://www.w3.org/2000/svg" width="101.000000pt" height="102.000000pt"
        viewBox="0 0 101.000000 102.000000" preserveAspectRatio="xMidYMid meet">
        <g transform="translate(0.000000,102.000000) scale(0.100000,-0.100000)" fill="#ac0000" stroke="none">
          <path d="M545 1001 c-96 -34 -188 -92 -313 -195 -151 -124 -232 -251 -232
               -364 0 -79 17 -118 76 -182 125 -133 434 -260 634 -260 96 0 139 11 188 47 80
               60 112 151 112 323 0 309 -96 568 -235 631 -53 24 -163 24 -230 0z" />
        </g>
      </svg>
      <div class="pt-3px text">{{ a.t({ en: 'Hub', ko: '허브' }) }}</div>
    </div>

    <div ion-activable class="menu col" (click)=" a.toggleMenu.emit() ">
      <ion-ripple-effect></ion-ripple-effect>
      <ion-icon class="size-24px" name="menu"></ion-icon>
      <div class="text">메뉴</div>
    </div>

  </div>

</ion-footer>