<ion-header>
  <ion-toolbar>
    <ion-title>{{ pageTitle }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <div class="flex-center p-2">
      <ion-text>Job Profile Update</ion-text>
      <ion-button class="ml-2 no-shadow" (click)="tooltip.present( $event, { title: 'Job Forum', subTitle: 'Job', content: 'If you are in need of job, this is right place to get it. Please input true information only.'} )">
          <ion-icon name="help"></ion-icon>
      </ion-button>
  </div>
  
  <ion-list class="mx-4 mb-4">

    <div class="row">

      <div class="col-12 col-md-6 flex-column-center">
        <ion-item *ngIf=" getPhoto( profilePhoto ) ">
          <div class="size-120px of-hidden" >
              <img class="w-100" src="{{ src( profilePhoto ) }}">
          </div>
        </ion-item>

        <ion-item *ngIf=" ! getPhoto( profilePhoto ) ">
          <div class="size-120px of-hidden" >
              <img class="w-100" src="{{ philgo.anonymousPhotoURL }}">
          </div>
        </ion-item>
        <ion-item>
          <ion-button class="no-shadow" color="secondary">
            <ion-icon class="pl-1" slot="start" name="image"></ion-icon>
            <ion-text>Profile Photo</ion-text>
            <input class="transparent-cover pointer" type="file" name="file" (change)="onChangeFile($event,  profilePhoto )">
          </ion-button>
          <ion-button color="light" class="pl-1 no-shadow" (click)=" tooltip.present( $event, { title: 'Upload profile photo', subTitle: 'Profile photo', content: 'size: width: 200px, height: 200px'}) ">
            <ion-icon name="help"></ion-icon>
          </ion-button>
        </ion-item>
      </div>

      <div class="col-12 col-md-6 flex-center flex-column mt-3 mt-md-0">

        <ion-item *ngIf=" getPhoto( bodyPhoto ) ">
          <div class="size-120px of-hidden">
            <img class="w-100" src="{{ src( bodyPhoto ) }}">
          </div>
        </ion-item>

        <ion-item *ngIf=" ! getPhoto( bodyPhoto ) ">
          <div class="size-120px of-hidden">
              <img class="w-100" src="{{ philgo.anonymousPhotoURL }}">
          </div>
        </ion-item>


        <ion-item>
          <ion-button color="secondary no-shadow" fill="solid">
            <ion-icon class="pl-1" slot="start" name="image"></ion-icon>
            <ion-text>Whole Body Photo</ion-text>
            <input class="transparent-cover pointer" type="file" name="file" (change)="onChangeFile($event, bodyPhoto )">
          </ion-button>
          <ion-button color="light" class="pl-1 no-shadow">
            <ion-icon name="help"></ion-icon>
          </ion-button>
        </ion-item>

      </div>
      
    </div>


    <ion-item>
      <ion-label position="floating">{{ philgo.t({ en: 'Name', ko: '이름' }) }}</ion-label>
      <ion-input [(ngModel)]="form[N.name]"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">{{ philgo.t({ en: 'Mobile Number', ko: '핸드폰 번호' }) }}</ion-label>
      <ion-input [(ngModel)]="form[N.mobile]"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">{{ philgo.t({ en: 'Email Address', ko: '이메일 주소' }) }}</ion-label>
      <ion-input [(ngModel)]="form[N.email]"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">{{ philgo.t({ en: 'Province', ko: '주' }) }}</ion-label>
      <ion-input [(ngModel)]="form[N.province]"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">{{ philgo.t({ en: 'City', ko: '도시' }) }}</ion-label>
      <ion-input [(ngModel)]="form[N.city]"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">{{ philgo.t({ en: 'Address', ko: '나머지 주소' }) }}</ion-label>
      <ion-input [(ngModel)]="form[N.address]"></ion-input>
    </ion-item>

    <div class="note">Address will not be shown to others.</div>

    <ion-item>
      <ion-label position="floating">{{ philgo.t({ en: 'Birth Day', ko: '생년월일' }) }}</ion-label>
      <ion-input [(ngModel)]="form[N.birthday]"></ion-input>
    </ion-item>



    <ion-item>
      <ion-label position="floating">{{ philgo.t({ en: '성별', ko: 'Gender' }) }}</ion-label>
      <ion-input [(ngModel)]="form[N.gender]"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label position="floating">{{ philgo.t({ en: 'Self introduction', ko: '본인소개' }) }}</ion-label>
      <ion-input [(ngModel)]="form[N.intro]"></ion-input>
    </ion-item>

    <div class="note">10 글자 이내</div>


    <ion-item>
      <ion-label position="floating">{{ philgo.t({ en: 'Facebook or other URL', ko: '페이스북 또는 참고 URL 을 입력하세요.' }) }}</ion-label>
      <ion-input [(ngModel)]="form[N.link]"></ion-input>
    </ion-item>


    <ion-item class="pt-4">
      <ion-buttons class="m-auto">

        <ion-button color="primary" fill="solid" (click)=" onSubmit() ">
          <ion-icon slot="start" name="paper-plane"></ion-icon>
          Submit
        </ion-button>

        <ion-button class="mx-2" color="light" fill="solid" (click)=" onDelete() ">
          <ion-icon color="danger" slot="start" name="trash"></ion-icon>
          Delete
        </ion-button>


        <ion-button color="light" fill="solid" (click)=" controller.dismiss( null, 'close' ) ">
          <ion-icon slot="start" name="close"></ion-icon>
          Close
        </ion-button>

      </ion-buttons>
    </ion-item>
  </ion-list>

</ion-content>