<ng-template #photo let-code="code">
  <div class="mx-auto mb-1 size-120px of-hidden">
    <img class="w-100" src="{{ src( code ) }}">
  </div>
</ng-template>
<ng-template #progressBar let-show="show" let-percentage="percentage">
  <div class="progress w-200px" *ngIf=" show ">
    <div class="progress-bar" [style.width]="percentage + '%'">{{percentage}}%</div>
  </div>
</ng-template>
<ion-header>
  <ion-toolbar>
    <ion-title>{{ pageTitle }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="controller.dismiss( null, 'close' )">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <div class="flex-center px-3 pt-3">
    <ion-text class="pl-2 fs-md">
      <b class="red">Must Read:</b> Please continue posting your job seeking profile only if you really want it.
      We guarantee that you will have contact from your potential employer as quickly as it can be.
      Before we will show your profile to your potential employer, we will verify if your data is true or not.
      Input true data and be ready for the contact.
    </ion-text>
    <ion-button color="light" class="ml-4 no-shadow d-none d-md-block" (click)="tooltip.present( $event, { title: 'Job Forum', subTitle: 'Job', content: 'If you are in need of job, this is right place to get it. Please input true information only.'} )">
      <ion-icon name="help"></ion-icon>
    </ion-button>
  </div>

  <ion-list class="mx-4 mb-4 mt-3">
    <div class="row py-2">

      <div class="col-12 col-md-4 flex-column-center">
        <div class="position-relative" (click)=" onClickCordovaPhotoUpload( profilePhoto ) ">
          <ng-container *ngTemplateOutlet="photo; context: { code: profilePhoto }"></ng-container>
          <ion-button class="no-shadow" color="secondary">
            <div class="w-200px">Profile Photo</div>
          </ion-button>
          <input class="transparent-cover pointer" type="file" name="file" (change)="onChangeFile($event,  profilePhoto )" *ngIf=" isWeb ">
        </div>
        <ion-button class="no-shadow" color="light" (click)=" tooltip.present( $event, { title: 'Profile photo', subTitle: 'Upload Photo', content: 'size: width: 200px, height: 200px'}) ">
          <ion-icon class="w-200px" name="help"></ion-icon>
        </ion-button>
        <ng-container *ngTemplateOutlet="progressBar; context: { show: percentage && fileCode == profilePhoto, percentage: percentage }"></ng-container>
      </div>

      <div class="col-12 col-md-4 flex-column-center my-4 my-md-0">
        <div class="position-relative" (click)=" onClickCordovaPhotoUpload( bodyPhoto ) ">
          <ng-container *ngTemplateOutlet="photo; context: { code: bodyPhoto }"></ng-container>
          <ion-button class="no-shadow" color="secondary">
            <div class="w-200px">Whole Body Photo</div>
          </ion-button>
          <input class="transparent-cover pointer" type="file" name="file" (change)="onChangeFile($event,  bodyPhoto )" *ngIf=" isWeb ">
        </div>
        <ion-button class="no-shadow" color="light" (click)=" tooltip.present( $event, { title: 'Whole body photo', subTitle: 'Upload Photo', content: 'size: width: 200px, height: 200px'}) ">
          <ion-icon class="w-200px" name="help"></ion-icon>
        </ion-button>
        <ng-container *ngTemplateOutlet="progressBar; context: { show: percentage && fileCode == bodyPhoto, percentage: percentage }"></ng-container>
      </div>

      <div class="col-12 col-md-4 flex-column-center">
        <div class="position-relative" (click)=" onClickCordovaPhotoUpload( idPhoto ) ">
          <ng-container *ngTemplateOutlet="photo; context: { code: idPhoto }"></ng-container>
          <ion-button class="no-shadow" color="secondary">
            <div class="w-200px">ID Photo</div>
          </ion-button>
          <input class="transparent-cover pointer" type="file" name="file" (change)="onChangeFile($event,  idPhoto )" *ngIf=" isWeb ">
        </div>
        <ion-button class="no-shadow" color="light" (click)=" tooltip.present( $event, { title: 'ID Photo', subTitle: 'Upload ID Photo', content: 'size: width: 200px, height: 200px'}) ">
          <ion-icon class="w-200px" name="help"></ion-icon>
        </ion-button>
        <ng-container *ngTemplateOutlet="progressBar; context: { show: percentage && fileCode == idPhoto, percentage: percentage }"></ng-container>
      </div>

    </div>


    <ion-item>
      <ion-label position="fixed" text-wrap>{{ philgo.t({ en: 'Name', ko: '이름' }) }}</ion-label>
      <ion-input [(ngModel)]="form[N.name]"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed" text-wrap>{{ philgo.t({ en: 'Mobile Number', ko: '핸드폰 번호' }) }}</ion-label>
      <ion-input [(ngModel)]="form[N.mobile]"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="fixed" text-wrap>{{ philgo.t({ en: 'Email Address', ko: '이메일 주소' }) }}</ion-label>
      <ion-input [(ngModel)]="form[N.email]"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="fixed" text-wrap>{{ philgo.t({ en: 'Province', ko: '주' }) }}</ion-label>
      <ion-input [(ngModel)]="form[N.province]"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="fixed" text-wrap>{{ philgo.t({ en: 'City', ko: '도시' }) }}</ion-label>
      <ion-input [(ngModel)]="form[N.city]"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="fixed" text-wrap>{{ philgo.t({ en: 'Address', ko: '나머지 주소' }) }}</ion-label>
      <ion-input [(ngModel)]="form[N.address]"></ion-input>
    </ion-item>
    <div class="note mb-3">Address will not be shown to others.</div>

    <ion-item-divider>
      <ion-label>
        {{ philgo.t({ en: 'Birth Day', ko: '생년월일' }) }}
      </ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-label>{{ philgo.t({ en: 'Month', ko: '달' }) }}</ion-label>
      <ion-select placeholder="1-12" [(ngModel)]=" month ">
        <ion-select-option *ngFor=" let m of makeArrayNumber(12, 1)" value="{{ philgo.add0(m)}}">{{m}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>{{ philgo.t({ en: 'Day', ko: '일' }) }}</ion-label>
      <ion-select placeholder="1-31" [(ngModel)]=" day ">
        <ion-select-option *ngFor=" let m of makeArrayNumber(31, 1)" value="{{ philgo.add0(m)}}">{{m}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>{{ philgo.t({ en: 'Year', ko: '년' }) }}</ion-label>
      <ion-select placeholder="2000" [(ngModel)]=" year ">
        <ion-select-option *ngFor=" let m of makeArrayNumber(50, 1)" value="{{ 2001 - m }}">{{ 2001 - m }}</ion-select-option>
      </ion-select>
    </ion-item>


    <ion-item>
      <ion-label>{{ philgo.t({ en: 'Gender', ko: '성별' }) }}</ion-label>
      <ion-select placeholder="{{ philgo.t({ en: 'Gender', ko: '성별' }) }}" [(ngModel)]="form[N.gender]">
        <ion-select-option value="F">{{ philgo.t({ en: 'Female', ko: '여자' }) }}</ion-select-option>
        <ion-select-option value="M">{{ philgo.t({ en: 'Male', ko: '남자' }) }}</ion-select-option>
      </ion-select>
    </ion-item>



    <ion-item>
      <ion-label position="fixed" text-wrap>{{ philgo.t({ en: 'Experience', ko: '경력' }) }}</ion-label>

      Since <ion-input [(ngModel)]="form[N.experience]"></ion-input>

    </ion-item>


    <ion-item>
      <ion-label position="floating">{{ philgo.t({ en: 'Self introduction', ko: '본인소개' }) }}</ion-label>
      <ion-input [(ngModel)]="form[N.intro]"></ion-input>
    </ion-item>

    <div class="note">10 글자 이내</div>

    <ion-item>
      <ion-label position="floating">{{ philgo.t({ en: 'Facebook or other URL', ko: '페이스북 또는 참고 URL 을 입력하세요.' }) }}
      </ion-label>
      <ion-input [(ngModel)]="form[N.link]"></ion-input>
    </ion-item>


    <ion-item class="pt-4">
      <ion-buttons class="m-auto">

        <ion-button color="primary" fill="solid" (click)=" onSubmit() ">
          <ion-icon slot="start" name="paper-plane"></ion-icon>
          Submit
        </ion-button>

        <ion-button class="mx-2" color="light" fill="solid" (click)=" onDelete() " *ngIf=" form?.idx ">
          <ion-icon color="danger" slot="start" name="trash"></ion-icon>
          Delete
        </ion-button>


        <ion-button color="light" fill="solid" (click)=" controller.dismiss( null, 'close' ) ">
          <ion-icon slot="start" name="close"></ion-icon>
          Close
        </ion-button>

      </ion-buttons>
    </ion-item>
  </ion-list>

</ion-content>