<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ philgo.forumName('wanted', category) }}</ion-title>

    <ion-buttons slot="end">
        <ion-button class="mr-3" (click)="jobList.onClickPost()">
          <ion-icon slot="start" name="add"></ion-icon>
          <ion-text>RESUME</ion-text>
        </ion-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content padding>

  <app-job-list-component #jobList [category]=" category "></app-job-list-component>

</ion-content>