[submodule "src/app/modules/angular-library"]
	path = src/app/modules/angular-library
	url = https://github.com/thruthesky/angular-library
[submodule "src/app/modules/philgo-api"]
	path = src/app/modules/philgo-api
	url = https://github.com/thruthesky/philgo-api
[submodule "philgo-api-v3"]
	path = philgo-api-v3
	url = https://github.com/thruthesky/philgo-api-v3
[submodule "src/app/modules/philgo-api-v3"]
	path = src/app/modules/philgo-api-v3
	url = https://github.com/thruthesky/philgo-api-v3
