<ion-header>
  <ion-toolbar>
    <ion-title>{{ philgo.forumName( forum.post_id ) }} Create</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <div>Post Create</div>

  <ion-list>
    <ion-item>
      <ion-label position="floating">{{ philgo.t({ en: 'Please input title', ko: '제목을 입력하세요.' }) }}</ion-label>
      <ion-input [(ngModel)]="form.subject"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">{{ philgo.t({ en: 'Please input content', ko: '내용을 입력하세요.' }) }}</ion-label>
      <ion-textarea [(ngModel)]="form.content"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-button (click)=" onSubmit() ">Submit</ion-button>
      <ion-button (click)=" controller.dismiss( null, 'close' ) ">Dismiss Modal</ion-button>
    </ion-item>
  </ion-list>

<ion-text color="danger" *ngIf=" error ">
  {{ error.message }}
</ion-text>

</ion-content>