<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button routerLink="/">
        <ion-icon name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>forum</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="add-circle"></ion-icon>
      </ion-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <app-forum-basic-list-component [autoViewContent]=" false "></app-forum-basic-list-component>


</ion-content>