<div class="d-flex align-items-stretch mb-3">
  <ion-button class="no-shadow mr-3" color="tertiary" (click)="onClickPost()">
    <ion-icon slot="start" name="add"></ion-icon>
    <ion-text>CREATE POST</ion-text>
  </ion-button>
  <div class="flex-center px-2 w-100 bg-light fs-80">
    <span>FORUM</span>
    <ion-icon class="mx-2" name="play"></ion-icon>
    <span>{{ philgo.forumName(forum?.post_id)}}</span>
  </div>
</div>

<ion-list class="border mb-2" *ngFor="let post of posts">

  <ion-item>
    <ion-avatar slot="start">
      <img [src]="philgo.primaryPhotoUrl( post?.member?.idx_primary_photo )">
    </ion-avatar>

    <ion-label text-wrap>
        <h2 class="fs-lg pointer" (click)=" onView( post ) ">{{ post.subject }}</h2>
        <p class="fs-sm"> 
          <span class="d-block d-md-inline-block mr-3 darkgreen"  *ngIf=" post?.member "> {{ post?.member?.nickname }}</span>
          <span class="d-block d-md-inline-block mr-3 my-1 my-md-0">No: {{ post.idx }}</span>
          <span class="d-block d-md-inline-block">Date: {{ philgo.shortDate(post.stamp  ) }}</span>
        </p>
    </ion-label>

    <ion-icon class="pointer py-3" slot="end" name="more" mode="ios" (click)=" onClickMenu( $event, post ) "></ion-icon>
  </ion-item>

  
  <ion-item  *ngIf=" show(post) ">
      <ion-card class="no-shadow mb-1">
        <ion-card-content class="py-0">
            <div [innerHTML]="post?.content"></div>
            <app-files-component [post]=" post "></app-files-component>
        </ion-card-content>
      </ion-card>
  </ion-item>


  <ion-item *ngIf=" show( post ) ">

    <ion-buttons class="d-block">
      <ion-button class="mr-2" color="primary" fill="solid" (click)=" onView( post ) " *ngIf=" ! show( post ) ">
        <ion-icon slot="start" name="eye"></ion-icon>
        <ion-text>View Content</ion-text>
      </ion-button>

      <ion-button color="primary" (click)=" onVote( post, 'good' ) ">
        <ion-icon slot="start" name="thumbs-up"></ion-icon>
        <ion-text>Like<span class="ml-1">{{ post.good == '0' ? '' : ' ' + post.good }}</span></ion-text>
      </ion-button>

      <ion-button color="medium" (click)=" onVote( post, 'bad' ) ">
        <ion-icon slot="start" name="thumbs-down"></ion-icon>
        <ion-text>Dislike<span class="ml-1">{{ post.bad == '0' ? '' : ' ' + post.bad }}</span></ion-text>
      </ion-button>

      <ion-button (click)=" onEdit( post ) ">
        <ion-icon color="tertiary" slot="start" name="create" mode="ios"></ion-icon>
        <ion-text>Edit</ion-text>
      </ion-button>

      <ion-button (click)=" onReply( post, post ) ">
        <ion-icon color="secondary" slot="start" name="text" mode="ios"></ion-icon>
        <ion-text>Reply</ion-text>
      </ion-button>

      <ion-button (click)=" onDelete( post ) ">
        <ion-icon slot="start" color="danger" name="trash"></ion-icon>
        <ion-text>Delete</ion-text>
      </ion-button>

      <ion-button (click)=" onReport( post ) ">
        <ion-icon color="medium" slot="start" name="warning"></ion-icon>
        <ion-text>Report</ion-text>
      </ion-button>
    </ion-buttons>

  </ion-item>



  <ion-list class="comments comments-depth" *ngIf=" post?.comments?.length && show(post) ">
    <ion-item class="comment" *ngFor=" let comment of post.comments " [attr.depth]=" comment.depth ">
      <ion-card class=" no-shadow border mb-3 px-3 pt-3">
        <div>No. {{ comment.idx }}</div>
        <ion-card-content class="pb-0">
          <div [innerHTML]="comment.content"></div>
        </ion-card-content>

        <ion-buttons class="d-block">
          <ion-button color="primary" (click)=" onVote( comment, 'good' ) ">
            <ion-icon slot="start" name="thumbs-up"></ion-icon>
            <ion-text>Like<span class="ml-1">{{ comment.good == '0' ? '' : ' ' + comment.good }}</span></ion-text>
          </ion-button>

          <ion-button color="medium" (click)=" onVote( comment, 'bad' ) ">
            <ion-icon slot="start" name="thumbs-down"></ion-icon>
            <ion-text>Disike<span class="ml-1">{{ comment.bad == '0' ? '' : ' ' + comment.bad }}</span></ion-text>
          </ion-button>

          <ion-button (click)=" onEdit( comment ) ">
            <ion-icon color="tertiary" slot="start" name="create" mode="ios"></ion-icon>
            <ion-text>Edit</ion-text>
          </ion-button>

          <ion-button (click)=" onReply( comment, post ) ">
            <ion-icon color="secondary" slot="start" name="text" mode="ios"></ion-icon>
            <ion-text>Reply</ion-text>
          </ion-button>

          <ion-button (click)=" onDelete( comment ) ">
            <ion-icon color="danger" slot="start" name="trash"></ion-icon>
            <ion-text>Delete</ion-text>
          </ion-button>

          <ion-button (click)=" onReport( comment ) ">
            <ion-icon color="medium" slot="start" name="warning"></ion-icon>
            <ion-text>Report</ion-text>
          </ion-button>
        </ion-buttons>
      </ion-card>
    </ion-item>
  </ion-list>

</ion-list>