ion-content{
    ul{
        padding: 0;
        list-style-type: none;
    }


    &>ul{
        .li-header{
            display: flex;
            align-items: center;
            ion-icon{
                font-size: 1.5rem;
            }
        }
        &>li{
            padding: .75rem .5rem;
            color: var(--ion-color-medium-shade);

            li{
                padding: .5rem;
                font-size: .9rem;
                color: #000;
            }
        }
    }
}