@import '/../../../../theme/breakpoints';
    .messages {
        padding: 1rem;
        min-height: 100%;
        background: #99C0D9;
        font-size: .85rem;
        @media (min-width: $md) {
            font-size: .9rem;
        }
    }
    .message .other {
        display: flex;
        margin-right: auto;
        padding: .5rem 0;
        max-width: 93%;
        .photo {
            padding: .25rem .75rem 0 0;
            ion-thumbnail {
                height: 35px;
                width: 35px;
                border-radius: 5%;
                overflow: hidden;
                @media (min-width: $md) {
                    height: 45px;
                    width: 45px;
                }
            }
        }
        .text {
            width: auto;
            .meta {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                margin: 0 4px .35rem 2px;
                .name {
                    // color: #555;
                    font-weight: 400;
                    font-size: .95em;
                }
                .date {
                    margin-left: 2rem;
                    color: #447899; // color: var(--ion-color-medium-shade);
                }
            }
            .content {
                padding: .5rem 1rem;
                @media (min-width: $md) {
                    padding: .75rem 1rem;
                }
                border-radius: 5px;
                border-top-left-radius: 0; // background: #f3f3f3;
                background: #fff;
                font-size: .9em;
                line-height: 1.3rem;
            }
        }
    }
    .messages .my {
        display: flex;
        justify-content: flex-end;
        margin-left: auto;
        margin-top: .25rem;
        max-width: 93%;
        .content {
            display: flex;
            align-items: center;
            padding: .5rem 1rem;
            @media (min-width: $md) {
                padding: .75rem 1rem;
            }
            border-radius: 5px;
            border-bottom-right-radius: 0;
            background: rgb(247, 222, 0); // background: #FBF300;
            font-size: .9em;
            line-height: 1.4em;
            text-align: left;
            ion-spinner {
                margin-right: .5em;
            }
        }
    }
    .message {
        &.file {
            .content {
                padding: 0 !important;
                background-color: transparent !important;
            }
        }
        .text {
            word-break: break-all !important;
        }
    }

    .loading-latest-messages{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5rem;
        ion-spinner{
            margin-right: 1rem;
        }
    }