@import "../../../theme/breakpoints";

ion-content{
    --padding-start: 16px;
    --padding-end: 16px;
}
@media (min-width:$md){
    ion-toolbar{
        padding-left:17px;
        padding-right: 17px;
    }
    ion-content{
        --padding-start: 30px;
        --padding-end: 30px;
    }
}
