ion-toast {
    &.error {
        .toast-container {
            background-color: rgb(141, 0, 0);
        }
    }
    &.new-chat-message {
        margin-top: 3.6em;
        .toast-container {
            background-color: rgb(252, 249, 230);
            .toast-message {
                color: black;
            }
            .toast-button {
                color: blue;
            }
        }
    }
}

@mixin size-24px {
    width: 24px !important;
    height: 24px !important;
}

@mixin size-22px {
    width: 22px !important;
    height: 22px !important;
}

.size-24px {
    @include size-24px();
}
.size-22px {
    @include size-22px();
}
.pt-3px {
    padding-top: 3px !important;
}
.pl-3px {
    padding-left: 3px !important;
}

.text-normal {
    color: black !important;
    text-decoration: none !important;
    a {
        color: black !important;
        text-decoration: none !important;
    }
}

.pointer {
    cursor: pointer;
}

.pointers {
    div,
    span,
    a,
    p,
    li {
        cursor: pointer;
    }
}