ion-toast {
    &.error {
        .toast-container {
            background-color: rgb(141, 0, 0);
        }
    }
    &.new-chat-message {
        margin-top: 3.6em;
        .toast-container {
            background-color: rgb(252, 249, 230);
            .toast-message {
                color: black;
            }
            .toast-button {
                color: blue;
            }
        }
    }
}
