@import "breakpoints";
body {
    -webkit-user-select: text;
    user-select: text;
}

.fs-xl {
    font-size: .5em;
}

.fs-sm {
    font-size: .75em;
}



ion-toast {
    &.error {
        .toast-container {
            background-color: rgb(141, 0, 0);
        }
    }
    &.new-chat-message {
        margin-top: 3.6em;
        .toast-container {
            background-color: rgb(252, 249, 230);
            .toast-message {
                color: black;
            }
            .toast-button {
                color: blue;
            }
        }
    }
}

ion-title {
font-size: .9rem;
    @media (min-width:$md) {
        font-size: 1rem;
    }
}

/**
 * Ionic v4 beta 0 버그
 */
ion-toolbar {
    padding-top: 0!important;
}