.pointer {
    cursor: pointer;
}

.desc-small {
    font-size: 0.75rem !important;
}

.mw-200px {
    max-width: 200px !important;
}
.mw-300px {
    max-width: 300px !important;
}

.fs-xl {
    font-size: .5em;
}

.fs-sm {
    font-size: .75em;
}

.fs-md{
    font-size: .95rem!important;
}

