<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button routerLink="/">
        <ion-icon name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>{{ a.tr.t({ko: '로그인', en: 'Login' }) }}</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
      <ion-list>
          <ion-item>
            <ion-label position="floating">{{ a.tr.t({ko: '필고 아이디 또는 이메일을 입력해 주세요.', en: 'Please input PhilGo ID or Email' }) }}</ion-label>
            <ion-input autocomplete clear-input name="uid" [(ngModel)]="uid" (keyup.enter)="onSubmit()"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">{{ a.tr.t({ko: '비밀번호', en: 'Password' }) }}</ion-label>
            <ion-input name="password" type="password" [(ngModel)]="password" (keyup.enter)="onSubmit()"></ion-input>
          </ion-item>
          <ion-item>
              <ion-button class="login-submit-button" color="warning" expand="full" type="button" (click)="onSubmit()">
                  {{ a.tr.t({ko: '로그인', en: 'Login' }) }}
                  <ion-icon slot="end" name="send"></ion-icon>
              </ion-button>   
          </ion-item>
        </ion-list>


</ion-content>