<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button routerLink="/">
        <ion-icon name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>{{ a.tr.t({ko: '로그인', en: 'Login' }) }}</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="flex-center flex-column mt-3">
    <ion-img class="w-100px" src="../../../assets/icon/favicon.png"></ion-img>
    <ion-text>PhilGo Login</ion-text>
  </div>

  <app-login-component class="d-block mx-auto mt-5 w-md-50" (login)=" onLogin() " (error)=" a.toast( $event ) "></app-login-component>

</ion-content>

