<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button routerLink="/">
        <ion-icon name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>{{ a.tr.t({ko: '로그인', en: 'Login' }) }}</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <app-login-component (login)="a.openHome()" (error)=" a.toast( $event ) "></app-login-component>
</ion-content>