<ion-app>
  <ion-split-pane>
    <ion-menu side="end">
      <ion-header  >
        <ion-toolbar padding-horizontal color="light">
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content padding>
        <ion-list>
          <ion-menu-toggle auto-hide="false">
            <!-- <ion-item routerLink="/">
              <ion-label>
                <ion-text>
                  Home
                </ion-text>
              </ion-label>
            </ion-item> -->
            <ion-item routerLink="/my-rooms">
              <ion-icon slot="start" color="medium" name="albums"></ion-icon>
              <ion-label>
                <ion-text>
                  My Rooms
                </ion-text>
              </ion-label>
            </ion-item>
            <ion-item routerLink="/all-rooms">
              <ion-icon slot="start" color="medium" name="chatbubbles"></ion-icon>
              <ion-label>
                <ion-text>
                  All Rooms
                </ion-text>
              </ion-label>
            </ion-item>
            <ion-item routerLink="/create-room">
              <ion-icon slot="start"  color="medium" name="add-circle"></ion-icon>
              <ion-label>
                <ion-text>
                  Create Room
                </ion-text>
              </ion-label>
            </ion-item>
            <ion-item routerLink="/register">
              <ion-icon slot="start"  color="medium" name="create"></ion-icon>
              <ion-label>
                <ion-text>
                  Register
                </ion-text>
              </ion-label>
            </ion-item>
            <ion-item routerLink="/login">
              <ion-icon slot="start"  color="medium" name="log-in"></ion-icon>
              <ion-label>
                <ion-text>
                  Login
                </ion-text>
              </ion-label>
            </ion-item>
            <ion-item (click)="onClickLogout()">
              <ion-icon slot="start"  color="medium" name="log-out"></ion-icon>
              <ion-label>
                <ion-text>
                  Logout
                </ion-text>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-icon slot="start"  color="tertiary" name="close-circle"></ion-icon>
              <ion-label>
                <ion-text>
                  Close
                </ion-text>
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>