<ion-app>
  <ion-split-pane>
    <ion-menu side="end">
      <ion-header>
        <ion-toolbar padding-horizontal color="light">
          <ion-title>{{ tr.t({'en': 'Mneu', 'ko': '메뉴', ch: '菜单', jp: 'メニュー'}, {}) }}</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content padding>
        <ion-list>
          <ion-menu-toggle auto-hide="false">
            <!-- <ion-item routerLink="/">
              <ion-label>
                <ion-text>
                  Home
                </ion-text>
              </ion-label>
            </ion-item> -->
            <ion-item routerLink="/my-rooms">
              <ion-icon slot="start" color="medium" name="albums"></ion-icon>
              <ion-label>
                <ion-text>
                    {{ tr.t({'en': 'My Chat Room List', 'ko': '나의 채팅방 목록', ch: '我的聊天室列表', jp: '私のチャットルームリスト'}, {}) }}
                </ion-text>
              </ion-label>
            </ion-item>
            <ion-item routerLink="/all-rooms">
              <ion-icon slot="start" color="medium" name="chatbubbles"></ion-icon>
              <ion-label>
                <ion-text>
                  {{ tr.t({ ko: '전체 채팅방 목록', en: 'All Chat Room List', ch: '所有聊天室列表', jp: 'すべてのチャットルームリスト'})}}
                </ion-text>
              </ion-label>
            </ion-item>
            <ion-item routerLink="/create-room">
              <ion-icon slot="start" color="medium" name="add-circle"></ion-icon>
              <ion-label>
                <ion-text>
                  {{ tr.t({ ko: '새로운 채팅방 만들기', en: 'Create New Chat Room', ch: '创建新的聊天室', jp: '新しいチャットルームを作成する'})}}
                </ion-text>
              </ion-label>
            </ion-item>
            <ion-item routerLink="/register">
              <ion-icon slot="start" color="medium" name="create"></ion-icon>
              <ion-label>
                <ion-text>
                  {{ philgo.isLoggedIn() ? tr.t({ ko: '회원 정보 수정', en: 'Profile Update', ch: '资料更新', jp: 'プロフィールの更新'}) : tr.t({ ko: '회원 가입', en: 'Register', ch: '会员注册', jp: '会員登録'}) }}
                </ion-text>
              </ion-label>
            </ion-item>
            <ion-item routerLink="/help">
              <ion-icon slot="start" color="medium" name="help-circle-outline"></ion-icon>
              <ion-label>
                <ion-text>
                    {{ tr.t({ ko: '도움말', en: 'Help', ch: '帮帮我', jp: '助けて'}) }}
                </ion-text>
              </ion-label>
            </ion-item>
            <ion-item routerLink="/login" *ngIf=" philgo.isLoggedOut() ">
              <ion-icon slot="start" color="medium" name="log-in"></ion-icon>
              <ion-label>
                <ion-text>
                    {{ tr.t({ ko: '로그인', en: 'Login', ch: '登录', jp: 'ログイン'}) }}
                </ion-text>
              </ion-label>
            </ion-item>
            <ion-item (click)="onClickLogout()" *ngIf=" philgo.isLoggedIn() ">
              <ion-icon slot="start" color="medium" name="log-out"></ion-icon>
              <ion-label>
                <ion-text>
                    {{ tr.t({ ko: '로그아웃', en: 'Logout', ch: '登出', jp: 'ログアウト' }) }}
                </ion-text>
              </ion-label>
            </ion-item>
            
            <ion-item routerLink="/setting">
              <ion-icon slot="start" color="medium" name="settings"></ion-icon>
              <ion-label>
                <ion-text>
                    {{ a.tr.t({ko: '설정', en: 'Setting', ch: '设置', jp: '設定'}) }}
                </ion-text>
              </ion-label>
            </ion-item>

            <ion-item class="d-sm-none pointer">
              <ion-icon slot="start" color="medium" name="close-circle"></ion-icon>
              <ion-label>
                <ion-text>
                    {{ tr.t({ ko: '메뉴 닫기', en: 'Close', ch: '关', jp: '閉じる'}) }}
                </ion-text>
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>