<ion-header>
  <ion-toolbar>
    <ion-title *ngIf=" !isLoggedIn ">Register</ion-title>
    <ion-title *ngIf=" isLoggedIn ">Profile Update</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <section id="profile-photo-update" *ngIf=" philgo.isLoggedIn() ">
    <div class="top">
        <div class="profile-photo">
          <img src="{{ philgo.thumbnailUrl({ width: 100, height: 120, path: form.url_profile_photo }) }}" *ngIf=" form.url_profile_photo ">
        </div>
        <ion-buttons class="delete-button">
            <ion-button (click)=" onClickDeletePrimaryPhoto() ">
                <ion-icon slot="icon-only" color="danger" name="close-circle"></ion-icon>
            </ion-button>
        </ion-buttons>
    </div>
    <div class="bottom">
        <div text-center>
            <ion-text class="fs-sm" color="primary" *ngIf="percentage">{{ percentage }}%</ion-text>
        </div>
        <label class="upload-photo-button">
            <input type="file" name="file" (change)="onChangePrimaryPhoto($event)">
              <div class="button">
                <ion-icon slot="end" name="camera"></ion-icon>
                Upload Photo
              </div>
        </label>
    </div>
  </section>

  <form (ngSubmit)="onSubmit( $event )">

    <ion-list>

      <ion-item margin-vertical color="light" *ngIf="isLoggedIn ">
        <ion-label>Nickname</ion-label>
        <ion-text slot="end">{{ form.nickname }}</ion-text>
      </ion-item>

      <ion-item margin-bottom color="light" *ngIf="isLoggedIn">
        <ion-label>Email</ion-label>
        <ion-text slot="end">{{ form.email }}</ion-text>
      </ion-item>

      <ion-item *ngIf=" !isLoggedIn ">
        <ion-label position="floating">Email</ion-label>
        <ion-input name="email" [(ngModel)]="form.email" (keyup.enter)="onSubmit()"></ion-input>
      </ion-item>

      <ion-item *ngIf=" !isLoggedIn ">
        <ion-label position="floating">Password</ion-label>
        <ion-input name="password" type="password" [(ngModel)]="form.password" (keyup.enter)="onSubmit()"></ion-input>
      </ion-item>

      <ion-item margin-bottom color="light" *ngIf=" isLoggedIn ">
        <ion-label>
          <ion-text>Change Password</ion-text>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input name="name" [(ngModel)]="form.name" (keyup.enter)="onSubmit()"></ion-input>
      </ion-item>
      <ion-item *ngIf=" ! isLoggedIn ">
        <ion-label position="floating">Nickname</ion-label>
        <ion-input name="nickname" [(ngModel)]="form.nickname" (keyup.enter)="onSubmit()"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Mobile</ion-label>
        <ion-input name="mobile" [(ngModel)]="form.mobile" (keyup.enter)="onSubmit()"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button margin-vertical expand="full" type="button" (click)="onSubmit()">
      SUBMIT
      <ion-icon slot="end" name="send"></ion-icon>
    </ion-button>
  </form>

</ion-content>