@import "../../../theme/breakpoints";
ion-list{
    margin-bottom: 3rem;
}

#profile-photo-update{
    display: flex;
    flex-direction: column;
    align-items: center;
    .top{
        position: relative;
        .profile-photo{
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 1rem 0;
            height: 80px;
            width: 80px;
            @media (min-width:$md) {
                height: 100px;
                width: 100px;
            }
            border-radius: 50%;
            overflow: hidden;
            img{
                width: 100%
            }
        }
        .delete-button{
            position: absolute;
            top: 0rem;
            right: -1.8rem;
        }
    }
    .bottom{
        .upload-photo-button{
            input{
                position: absolute;
                opacity: 0;
            }
        }
    }
}