<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title *ngIf=" philgo.isLoggedOut() ">{{ a.tr.t({ko: '회원 가입', en: 'Register' }) }}</ion-title>
    <ion-title *ngIf=" philgo.isLoggedIn() ">{{ a.tr.t({ko: '회원 정보 수정', en: 'Profile Update' }) }}</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <app-register-component class="d-block mt-3 mx-auto w-md-50" (register)=" onRegister( $event ) " (update)=" onUpdate( $event ) "
    (error)=" a.toast( $event ) "></app-register-component>
</ion-content>