<ion-header  translucent>
  <ion-toolbar>
    <ion-title *ngIf=" !isLoggedIn ">Register</ion-title>
    <ion-title *ngIf=" isLoggedIn ">Profile Update</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <form (ngSubmit)="onSubmit( $event )">
    <ion-list>

      <ion-item margin-vertical padding-end color="light" *ngIf="isLoggedIn ">
        <ion-label>Nickname</ion-label>
        <ion-text>{{ form.nickname }}</ion-text>
      </ion-item>

      <ion-item margin-bottom padding-end color="light" *ngIf="isLoggedIn">
          <ion-label>Email</ion-label>
          <ion-text>{{ form.email }}</ion-text>
      </ion-item>
  
      <ion-item *ngIf=" !isLoggedIn ">
        <ion-label position="floating">Email</ion-label>
        <ion-input name="email" [(ngModel)]="form.email" (keyup.enter)="onSubmit()"></ion-input>
      </ion-item>

      <ion-item *ngIf=" !isLoggedIn ">
        <ion-label position="floating">Password</ion-label>
        <ion-input name="password" type="password" [(ngModel)]="form.password" (keyup.enter)="onSubmit()"></ion-input>
      </ion-item>

      <ion-item margin-bottom padding-end color="light" *ngIf=" isLoggedIn ">
        <ion-label>
          <ion-text>Change Password</ion-text>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input name="name" [(ngModel)]="form.name" (keyup.enter)="onSubmit()"></ion-input>
      </ion-item>
      <ion-item *ngIf=" ! isLoggedIn ">
        <ion-label position="floating">Nickname</ion-label>
        <ion-input name="nickname" [(ngModel)]="form.nickname" (keyup.enter)="onSubmit()"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Mobile</ion-label>
        <ion-input name="mobile" [(ngModel)]="form.mobile" (keyup.enter)="onSubmit()"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button margin-vertical  expand="full" type="button" (click)="onSubmit()">
        SUBMIT
      <ion-icon slot="end" name="send"></ion-icon>
    </ion-button>
  </form>

</ion-content>