@import "../../../theme/breakpoints";
ion-list{
    margin-bottom: 3rem;
}

#profile-photo-update{
    display: flex;
    flex-direction: column;
    align-items: center;
    .top{
        position: relative;
        .profile-photo{
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 1rem 0;
            height: 80px;
            width: 80px;
            @media (min-width:$md) {
                height: 100px;
                width: 100px;
            }
            border-radius: 4px;
            overflow: hidden;
            img{
                width: 100%
            }
        }
        .delete-button{
            position: absolute;
            top: -.38rem;
            right: -1.7rem;
        }
    }
    .bottom{
        .upload-photo-button{
            input{
                position: absolute;
                opacity: 0;
                z-index: -1;
            }
            .button{
                display: flex;
                align-items: center;
                margin-bottom: .5rem;
                padding: .5rem 1rem;
                border-radius: 2px;
                background: var(--ion-color-primary);
                color: var(--ion-color-primary-contrast);
                font-size: .9rem;
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),0 3px 1px -2px rgba(0, 0, 0, 0.2),0 1px 5px 0 rgba(0, 0, 0, 0.12);
                cursor: pointer;
                ion-icon{
                    font-size: 1.25rem;
                    margin-right: .5rem;
                }
                z-index: 1;
            }
        }
    }
}