<!-- <ion-header>
  <ion-toolbar>

    <ion-buttons slot="start" *ngIf=" ! isMyRoom ">
      <ion-button routerLink="/">
        <ion-icon name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>
      <ion-text>{{ title }}</ion-text>
      <ion-badge color="danger" *ngIf="share.totalNoOfNewMessages">{{ share.totalNoOfNewMessages }}</ion-badge>
    </ion-title>

    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content padding>
  <app-rooms-component #appRoomsComponent [share]="share"></app-rooms-component>

</ion-content> -->