<ion-header  >
  <ion-toolbar>

    <ion-title>
      <ion-text>{{ title }}</ion-text>
      <ion-badge color="primary" *ngIf="share.totalNoOfNewMessages">{{ share.totalNoOfNewMessages }}</ion-badge>
    </ion-title>

    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar  *ngIf="show.searchBox">
      <ion-searchbar autocomplete></ion-searchbar>
  </ion-toolbar>
  <app-rooms-component #appRoomsComponent [share]="share"></app-rooms-component>

</ion-content>