@import "../../../theme/breakpoints";
ion-badge{
    position: relative;
    bottom: .125em;
    margin-left: .5em
}

ion-header{
    ion-toolbar{
        padding-left:17px;
        padding-right: 17px;
    }
}
ion-content{
    ion-toolbar{
        margin-left: .4rem;
    }
}
// ion-searchbar{
//     margin-left: .4rem;
// }