$size-sm: 35px;
$size-md: 45px;
@mixin chat-message-avatar() {
    height: $size-sm;
    width: $size-sm;
    min-width: $size-sm;
    border-radius: 5%;

    @media (min-width: map-get($grid-breakpoints, "md")) {
        height: $size-md;
        width: $size-md;
        min-width: $size-md;
    }
}
.chat-profile {
    padding: .25rem .75rem 0 0;
}

.chat-message-avatar {
    @include chat-message-avatar();
}