.meta {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 4px .35rem 2px;

    .name {
        font-weight: 400;
        font-size: .95em;
    }

    .date {
        margin-left: 2rem;
        color: #447899;
    }
}