.border-radius-45px {
    border-radius: 45px
}

.w-100px {
    width: 100px;
}

.size-80px {
    width: 80px !important;
    height: 80px !important;
}

.size-32px {
    width: 32px !important;
    height: 32px !important;
}

.size-md-120px {
    height: 120px;
    width: 120px;
}

.of-hidden {
    overflow: hidden !important;
}

.top-0 {
    top: 0 !important;
}

.right-0 {
    right: 0 !important;
}

.position-top-right {
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
}
