.border-radius-45px {
    border-radius: 45px
}

.pointer {
    cursor: pointer;
}

.desc-small {
    font-size: 0.75rem !important;
}

.mw-200px {
    max-width: 200px !important;
}
.mw-300px {
    max-width: 300px !important;
}

.fs-xl {
    font-size: .5em;
}

.fs-sm {
    font-size: .75em;
}

.fs-md{
    font-size: .95rem!important;
}

.fs-lg{
    font-size: 1.2rem!important;
}



.w-100px {
    width: 100px;
}

.size-80px {
    width: 80px !important;
    height: 80px !important;
}

.size-32px {
    width: 32px !important;
    height: 32px !important;
}

.size-md-120px {
    height: 120px;
    width: 120px;
}

.of-hidden {
    overflow: hidden !important;
}

.top-0 {
    top: 0 !important;
}

.right-0 {
    right: 0 !important;
}

.position-top-right {
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
}

.input-hidden {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.z-index-1{
    z-index: 1;
}

.icon-size{
    width: 24px;
    height: 24px;
}