<ion-header>
  <ion-toolbar>
    <ion-title>{{ pageTitle }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>


  <h3>{{ philgo.t({ en: 'Advertisement Posting', ko: '광고 업로드'}) }}</h3>
  <p>
    {{ philgo.t({ en: 'Contact admin to display your ads after compelte posting.', ko: '광고 등록 후 광고 표시를 위해서 운영자에게 요청하시면
    됩니다.' })}}

    <span class="more" (click)=" onClickIntro( $event ) ">
      {{ philgo.t({ en: 'Read more', ko: '더보기'})}}
      ...</span>
  </p>


  <ion-list class="mb-4">


    <ion-item *ngIf=" getPhoto('1:1') ">
      <img src="{{ src('1:1') }}">
    </ion-item>

    <ion-item>
      <ion-button size="large" color="secondary" class="no-shadow">
        <ion-icon slot="start" name="image"></ion-icon>
        <ion-text>{{ philgo.t({en: 'Square Banner', ko: '정사각형 배너'}) }}</ion-text>
        <input class="transparent-cover pointer" type="file" name="file" (change)="onChangeFile($event, '1:1')">
      </ion-button>
      <ion-button size="large" color="light" class="pl-1 no-shadow">
        <ion-icon name="help"></ion-icon>
      </ion-button>
    </ion-item>



    <!-- <ion-item *ngIf=" getPhoto('2:1') ">
      <img src="{{ src('2:1') }}">
    </ion-item>


    <ion-item>
      <ion-button color="secondary no-shadow" fill="solid">
        <ion-icon slot="start" name="image"></ion-icon>
        <ion-text>가로 배너</ion-text>
        <input class="transparent-cover pointer" type="file" name="file" (change)="onChangeFile($event, '2:1')">
      </ion-button>
      <ion-button color="light" class="pl-1 no-shadow">
        <ion-icon name="help"></ion-icon>
      </ion-button>
    </ion-item>


    <ion-item *ngIf=" getPhoto('4:1') ">
      <img src="{{ src('4:1') }}">
    </ion-item>

    <ion-item>
      <ion-button color="secondary no-shadow" fill="solid">
        <ion-icon slot="start" name="image"></ion-icon>
        <ion-text>가로 긴 배너</ion-text>
        <input class="transparent-cover pointer" type="file" name="file" (change)="onChangeFile($event, '4:1')">
      </ion-button>
      <ion-button color="light" class="pl-1 no-shadow">
        <ion-icon name="help"></ion-icon>
      </ion-button>
    </ion-item> -->

    <ion-item>
      <ion-button color="secondary no-shadow" fill="solid">
        <ion-icon slot="start" name="image"></ion-icon>
        <ion-text>{{ philgo.t({en: 'Content Image', ko:  '내용 이미지'}) }}</ion-text>
        <input class="transparent-cover pointer" type="file" name="file" (change)="onChangeFile($event, 'landing')">
      </ion-button>
      <ion-button color="light" class="pl-1 no-shadow">
        <ion-icon name="help"></ion-icon>
      </ion-button>
    </ion-item>


    <ion-item *ngIf=" getPhoto('landing') ">
      <img src="{{ src('landing') }}">
    </ion-item>


    <ion-item>
      <ion-label position="floating">{{ philgo.t({ en: 'Input advertisement title', ko: '광고 제목을 입력하세요.' }) }}</ion-label>
      <ion-input color="{{ subjectInDanger }}" [(ngModel)]="form.subject"></ion-input>
    </ion-item>

    <ion-item>

      <ion-text>
        {{ philgo.t({en: 'Length should be longer than #min and less than #max letters.', ko: '#min 글자 이상 #max 글자 이내' }, {min: subjectMinLength, max: subjectMaxLength })}}
        
        <span *ngIf=" subjectLength ">
          ({{ philgo.t({en: 'Length', ko: '현재 길이'})}}: {{ subjectLength }})
        </span></ion-text>

    </ion-item>

    <ion-item>
      <ion-label position="floating">{{ philgo.t({ en: 'Input URL', ko: 'URL 입력하세요.' }) }}</ion-label>
      <ion-input [(ngModel)]="form.link"></ion-input>
    </ion-item>

    <ion-item>
      <ion-buttons class="">

        <ion-button class="" color="primary" fill="solid" (click)=" onSubmit() ">
          <ion-icon slot="start" name="paper-plane"></ion-icon>
          Submit
        </ion-button>




        <ion-button color="danger" (click)=" onDelete() ">
          Delete
        </ion-button>


        <ion-button color="light" fill="solid" (click)=" controller.dismiss( null, 'close' ) ">
          <ion-icon slot="start" name="close"></ion-icon>
          Close
        </ion-button>

      </ion-buttons>
    </ion-item>
  </ion-list>

</ion-content>