<ion-header>
  <ion-toolbar>
    <ion-title>{{ pageTitle }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>


  <ion-list class="mx-4 mb-4">

    <ion-item>
      광고를 업로드합니다.
      <ion-button color="light" class="pl-1 no-shadow" (click)="tooltip.present( $event, { title: '광고 등록 안내', subTitle: '광고', content: '아래의 광고 배너 중 정사각형 배너는 필수입니다. 그 외 두가지는 옵션이며, 광고 배너를 모두 올리면 광고가 더 많이 노출될 확율이 높습니다.'} )">
        <ion-icon name="help"></ion-icon>
      </ion-button>

    </ion-item>


    <ion-item *ngIf=" getPhoto('1:1') ">
      <img src="{{ src('1:1') }}">
    </ion-item>

    <ion-item>
      <ion-button color="secondary no-shadow" fill="solid">
        <ion-icon slot="start" name="image"></ion-icon>
        <ion-text>정사각형 배너</ion-text>
        <input class="transparent-cover pointer" type="file" name="file" (change)="onChangeFile($event, '1:1')">
      </ion-button>
      <ion-button color="light" class="pl-1 no-shadow">
        <ion-icon name="help"></ion-icon>
      </ion-button>
    </ion-item>



    <!-- <ion-item *ngIf=" getPhoto('2:1') ">
      <img src="{{ src('2:1') }}">
    </ion-item>


    <ion-item>
      <ion-button color="secondary no-shadow" fill="solid">
        <ion-icon slot="start" name="image"></ion-icon>
        <ion-text>가로 배너</ion-text>
        <input class="transparent-cover pointer" type="file" name="file" (change)="onChangeFile($event, '2:1')">
      </ion-button>
      <ion-button color="light" class="pl-1 no-shadow">
        <ion-icon name="help"></ion-icon>
      </ion-button>
    </ion-item>


    <ion-item *ngIf=" getPhoto('4:1') ">
      <img src="{{ src('4:1') }}">
    </ion-item>

    <ion-item>
      <ion-button color="secondary no-shadow" fill="solid">
        <ion-icon slot="start" name="image"></ion-icon>
        <ion-text>가로 긴 배너</ion-text>
        <input class="transparent-cover pointer" type="file" name="file" (change)="onChangeFile($event, '4:1')">
      </ion-button>
      <ion-button color="light" class="pl-1 no-shadow">
        <ion-icon name="help"></ion-icon>
      </ion-button>
    </ion-item> -->

    <ion-item>
      <ion-button color="secondary no-shadow" fill="solid">
        <ion-icon slot="start" name="image"></ion-icon>
        <ion-text>광고 내용 이미지 업로드</ion-text>
        <input class="transparent-cover pointer" type="file" name="file" (change)="onChangeFile($event, 'landing')">
      </ion-button>
      <ion-button color="light" class="pl-1 no-shadow">
        <ion-icon name="help"></ion-icon>
      </ion-button>
    </ion-item>


    <ion-item *ngIf=" getPhoto('landing') ">
      <img src="{{ src('landing') }}">
    </ion-item>


    <ion-item>
      <ion-label position="floating">{{ philgo.t({ en: 'Input advertisement title', ko: '광고 제목을 입력하세요.' }) }}</ion-label>
      <ion-input color="{{ subjectInDanger }}" [(ngModel)]="form.subject"></ion-input>
    </ion-item>

    <div>10 글자 이내</div>


    <ion-item>
      <ion-label position="floating">{{ philgo.t({ en: 'Input URL', ko: 'URL 입력하세요.' }) }}</ion-label>
      <ion-input [(ngModel)]="form.link"></ion-input>
    </ion-item>
    <!-- 
    <ion-item>
      <app-files-component class="d-block my-3" [showDeleteButton]=" true " [post]=" form "></app-files-component>
    </ion-item> -->


    <ion-item>
      <ion-buttons class="">

        <ion-button class="" color="primary" fill="solid" (click)=" onSubmit() ">
          <ion-icon slot="start" name="paper-plane"></ion-icon>
          Submit
        </ion-button>




        <ion-button (click)=" onDelete() ">
          Delete
        </ion-button>


        <ion-button color="light" fill="solid" (click)=" controller.dismiss( null, 'close' ) ">
          <ion-icon color="danger" slot="start" name="close"></ion-icon>
          Close
        </ion-button>

      </ion-buttons>
    </ion-item>
  </ion-list>

</ion-content>