<ion-header>
  <ion-toolbar>
    <ion-title>{{ pageTitle }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>


  <ion-list class="mx-4 mb-4">

    <ion-item>


      <ion-button color="light" fill="solid">
        <ion-icon slot="start" name="attach"></ion-icon>
        <ion-text>광고 배너 업로드: 정사각형</ion-text>
        <input class="transparent-cover pointer" type="file" name="file" (change)="onChangeFile($event)">
      </ion-button>

    </ion-item>

    <ion-item>
      <ion-button color="light" fill="solid">
        <ion-icon slot="start" name="attach"></ion-icon>
        <ion-text>광고 배너 업로드: 가로형</ion-text>
        <input class="transparent-cover pointer" type="file" name="file" (change)="onChangeFile($event)">
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-button color="light" fill="solid">
        <ion-icon slot="start" name="attach"></ion-icon>
        <ion-text>광고 내용 이미지 업로드</ion-text>
        <input class="transparent-cover pointer" type="file" name="file" (change)="onChangeFile($event)">
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-label position="floating">{{ philgo.t({ en: 'Input advertisement title', ko: '광고 제목을 입력하세요.' }) }}</ion-label>
      <ion-input [(ngModel)]="form.subject"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label position="floating">{{ philgo.t({ en: 'Input URL', ko: 'URL 입력하세요.' }) }}</ion-label>
      <ion-input [(ngModel)]="form.link"></ion-input>
    </ion-item>

    <ion-item>
      <app-files-component class="d-block my-3" [showDeleteButton]=" true " [post]=" form "></app-files-component>
    </ion-item>


    <ion-item>
      <ion-buttons class="d-md-flex flex-column flex-md-row m-auto">

        <ion-button class="m-3 my-md-0" color="primary" fill="solid" (click)=" onSubmit() ">
          <ion-icon slot="start" name="paper-plane"></ion-icon>
          Submit
        </ion-button>

        <ion-button color="light" fill="solid" (click)=" controller.dismiss( null, 'close' ) ">
          <ion-icon color="danger" slot="start" name="close"></ion-icon>
          Close
        </ion-button>

      </ion-buttons>
    </ion-item>
  </ion-list>


</ion-content>