@import '../../../theme/mixins';
ion-icon {
    position: relative;
    top: .06em;
}

ion-title {
    ion-badge {
        position: relative;
        bottom: .16em;
        margin-left: .5em;
    }
    ion-spinner {
        position: relative;
        top: .06em;
    }
}

.message-input-box {
    display: flex;
    ion-input {
        background-color: rgb(252, 235, 214);
    }
    ion-icon.camera {
        display: block;
        background-color: #b0c0bf;
        padding: 12px;
        @include icon-size();
    }
    ion-icon.send {
        display: block;
        background-color: #b0c0bf;
        padding: 12px;
        @include icon-size();
    }
    .camera-wrapper {
        position: relative;
        overflow: hidden;
        .filebox {
            position: absolute;
            z-index: 1234;
            top: 0;
            left: 0;
            height: 48px;
            opacity: .001;
        }
    }
}

.messages{
    .message{
        margin: 1rem 0;
        padding: .5rem 0;
        .other{
            display: flex;
            .left{
                padding-right:  1rem;
                ion-avatar{
                    height: 50px;
                    width: 50px;
                }
            }
            .right{
                width: auto;
                .title{
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                    margin: .1rem 1px .5rem 1px; 
                    .name{
                        color:var(--ion-color-dark-tint);
                        font-weight: bold;
                        font-size: .95rem;
                    }
                    .date{
                        margin-left: 2rem;
                        color:var(--ion-color-medium-shade);
                    }
                }
                .content{
                    padding: 1rem;
                    border-radius: 7px;
                    background:  var(--ion-color-light-tint);
                    color: var(--ion-color-light-contrast);
                    font-size: .9rem;
                    line-height: 1.3rem;
                }
            }
        }
        .my{
            display: flex;
            justify-content: flex-end;
            .content{
                padding: 1rem;
                border-radius: 5px;
                background:  var(--ion-color-primary-tint);
                color: var(--ion-color-primary-contrast);
                font-size: .9rem;
                line-height: 1.3rem;
            }
        }
    }
}
.sending-file {
    &.photo {
        img {
            width: 160px;
        }
    }
}


.messages {
    .uploaded-photo {
        img {
            width: 256px;
        }
    }
}