<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onClickLeaveButton()">
        <ion-icon name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>
      <ion-spinner *ngIf=" ! philgo.currentRoom "></ion-spinner>

      <div class="d-flex align-items-center"  *ngIf=" philgo.currentRoom?.name ">
        <ion-text>{{ philgo.currentRoom?.name }}</ion-text>
        <ion-badge class="border-radius-45px pointer ml-2" (click)=" displayUsers() " *ngIf=" philgo.currentRoom?.name " color="danger">{{ philgo.currentRoom?.no_of_member}}</ion-badge>
        <ion-text class="ml-3" (click)=" presentPopover() " *ngIf=" philgo.currentRoom?.reminder ">공지사항</ion-text>
      </div>

    </ion-title>

    <ion-buttons slot="end" *ngIf=" philgo.currentRoom ">
      <ion-button (click)="alarm.checked = !alarm.checked">
        <ion-toggle #alarm [checked]=" philgo.currentRoom?.disable_alarm != 'Y' " color="primary" (ionChange)=" onChangeAlarm( alarm ) "></ion-toggle>
      </ion-button>


      <ion-button (click)="presentRoomOptions()">
        <ion-icon name="settings"></ion-icon>
      </ion-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>
<ion-content>
  <app-chat-room-messages-component #messagesComponent (scroll)=" onScroll() " (error)=" onChatMessageDisplayError( $event ) "></app-chat-room-messages-component>
</ion-content>

<ion-footer>
  <app-chat-room-input-component (send)=" messagesComponent.sendNewMessage( $event ) " (removeMessageByRetvar)=" messagesComponent.removeMessageByRetvar( $event ) "></app-chat-room-input-component>
</ion-footer>