<ion-header>
  <ion-toolbar>
    <ion-title>room</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

</ion-content>

<ion-footer>
  <ion-grid no-padding>
    <ion-row>
      <ion-col size="10">
        <ion-input type="text" placeholder="Type a message" [(ngModel)]="form.message" name="message" (keyup.enter)="onClickSendMessage()"></ion-input>
      </ion-col>
      <ion-col class="send-button" size="2" (click)="onClickSendMessage()">
        <ion-icon name="paper-plane"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>