@import '../../../theme/mixins';
@import '../../../theme/breakpoints';
ion-footer{
    ion-toolbar{
        label{
            padding: .5rem 0;
            padding-left: .25rem;
            cursor: pointer;
        }
        .filebox{
            position: absolute;
            opacity: 0;
        }
    }
}



.messages{
    font-size: .85rem;
    @media (min-width:$md) {
        font-size: 1rem;
    }
    .message{
        margin: .5rem 0;
        @media (min-width:$md) {
            margin: 1rem 0;
        }
        &:first-child{
            margin-top: 0;
        }
        padding: .5rem 0;
        .other{
            display: flex;
            .left{
                padding-right:  .5rem;
                ion-avatar{
                    height: 35px;
                    width: 35px;
                    @media (min-width:$md) {
                        height: 45px;
                        width: 45px;
                    }
                }
            }
            .right{
                width: auto;
                .title{
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                    margin: .1rem 1px .35rem 1px; 
                    .name{
                        color:var(--ion-color-dark-tint);
                        font-weight: bold;
                        font-size: .95em;
                    }
                    .date{
                        margin-left: 2rem;
                        color:var(--ion-color-medium-shade);
                    }
                }
                .content{
                    padding: .5rem 1rem;
                    @media (min-width:$md) {
                        padding: .75rem 1rem;
                    }
                    border-radius: 7px;
                    border-top-left-radius: 0;
                    background:  var(--ion-color-light-tint);
                    color: var(--ion-color-light-contrast);
                    font-size: .9em;
                    line-height: 1.3rem;
                }
            }
        }
        .my{
            display: flex;
            justify-content: flex-end;
            .content{
                padding: .5rem 1rem;
                @media (min-width:$md) {
                    padding: .75rem 1rem;
                }
                border-radius: 5px;
                border-bottom-right-radius: 0;
                background:  var(--ion-color-primary-tint);
                color: var(--ion-color-primary-contrast);
                font-size: .9em;
                line-height: 1.3em;
                text-align: left;
            }
        }
    }
}
.sending-file {
    &.photo {
        img {
            width: 160px;
        }
    }
}

.same-sender{
    margin: 0!important;
    padding: 0!important;
}
