@import "../../../theme/breakpoints";

ion-list{
    ion-item{
        font-size: .85rem;
        @media (min-width:$md) {
            font-size: 1rem;
        }
    }
}

ion-text{
    padding-right: .5rem;
    flex:100%;
    text-align: right;
}