<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Chat Notification</ion-card-subtitle>
    <ion-card-title>Allow Notification</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    
    <div>Please allow notification. So we can notify you when your friends talk to you.</div>
    <div>If you reject, you will not be notified.</div>
    <ion-button color="danger">Allow Notification</ion-button>
  </ion-card-content>
</ion-card>


<ion-list *ngIf=" rooms.length ">
  <!-- <ion-item *ngFor="let room of rooms" (click)="enter.emit(room)"> -->
  <!-- <ion-item *ngFor="let room of rooms" (click)="onClickRoom(room)"> -->
  <ion-item lines="full" *ngFor="let room of rooms" routerLink="/room/{{ room.idx }}">

    <ion-icon slot="start" color="tertiary" name="ribbon" *ngIf=" room.idx_owner == philgo.myIdx() "></ion-icon>
    <ion-icon slot="start" color="danger" name="heart" *ngIf=" room.idx_owner != philgo.myIdx() && room.favorite == 'Y' "></ion-icon>
    <ng-container *ngIf=" roomType == 'my-rooms' ">
        <ion-badge slot="start" color="primary" *ngIf=" room.no_of_unread_messages != '0' ">{{ room.no_of_unread_messages }}</ion-badge>
      </ng-container>
      <ng-container *ngIf=" roomType == 'all-rooms' ">
        <ion-badge slot="start" *ngIf=" a.number(room.no_of_member) > 0 && a.number(room.no_of_member) <= 10 " color="light">{{ room.no_of_member }}</ion-badge>
        <ion-badge slot="start" *ngIf=" a.number(room.no_of_member) > 10" color="dark">{{ room.no_of_member }}</ion-badge>
      </ng-container>
      
    <ion-label slot="start">{{ room.name }}</ion-label>

    <ion-text slot="end" text-nowrap>{{ room.description }}</ion-text>

    
  </ion-item>
</ion-list>

<ion-card *ngIf=" ! rooms.length ">
  <ion-img src="/assets/img/chat-icon.png"></ion-img>

  <ion-card-content>
    <ion-card-title>Oops ... !</ion-card-title>

    <p>You do not have any rooms.</p>
  </ion-card-content>
</ion-card>