<h2>Create a chat room</h2>



<ion-list>
  <ion-item>
    <ion-label position="floating">Name</ion-label>
    <ion-input name="name" [(ngModel)]="form.name" (keyup.enter)="onSubmit()"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Description</ion-label>
    <ion-input name="description" type="type" [(ngModel)]="form.description" (keyup.enter)="onSubmit()"></ion-input>
  </ion-item>
</ion-list>

<ion-button margin-vertical mode="ios" expand="full" type="button" (click)="onSubmit()">
    Create
  <ion-icon slot="end" name="send"></ion-icon>
</ion-button>
<ion-button margin-vertical color="light" mode="ios" expand="full" type="button" (click)="onCancel()">
    Cancel
  <ion-icon slot="end" color="danger" name="close"></ion-icon>
</ion-button>

