@import './../../../scss/vars.scss';

.clicked{   
    margin: 1rem auto 0 auto!important;
    width: 150px!important;
}

.img-resizable {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100px;
    width: 100px;
    @media (min-width: $md) {
        height: 150px;
        width: 150px;
    }
}

.meta {
    @media (min-width: $md) {
        display: flex;
    }
    word-break: break-all;
    .container-fluid {
        padding: 0;
        .row {
            background: #DDE4E9;
            // background: rgba(dodgerblue,0.15);
            &:nth-child(odd){
                background: #F8F9FA;
                // background: rgba(dodgerblue,0.02);
            }
            div {
                padding: .5em;
            }
        }
    }
}